<%= form_with model: @user do |form| %>
  <% if @user.errors.any? %>
      <div>
        <h2>
          <%= pluralize(@user.errors.count, 'error') %>
          prohibited this user from being saved:
        </h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div>
    <%= form.label :username, 'Input your name:' %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :email, 'Input your e-mail:' %>
    <%= form.email_field :email, placeholder: 'example@example.com' %>
  </div>

  <div>
    <%= form.label :password, 'Input your password:' %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.submit 'Create user!' %>
  </div>
<% end %>
