<h1>Users#new</h1>
<%# <form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="1234">

  <div>
    <label for="username">User name:</label>
    <input type="text" name="user[username]" id="username">
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" name="user[email]" id="email">
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password">
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>
</form> %>

<%= form_tag('/users') do %>
  <div>
    <%= label_tag(:username, 'User name:') %>
    <%= text_field_tag(:username) %>
  </div>

  <div>
    <%= label_tag(:email, 'Email:') %>
    <%= email_field_tag(:email) %>
  </div>

  <div>
    <%= label_tag(:password, 'Password:') %>
    <%= password_field_tag(:password) %>
  </div>

  <div>
    <%= submit_tag('Submit') %>
  </div>
<% end %>
